.bg-img1 {
  height: 500px;
  background-color: #000;
  background-size: cover;
  background-image: url("https://wallpapercave.com/wp/wp10320830.jpg");
}
.bg-img2 {
  height: 500px;
  background-color: #000;
  background-size: cover;
  background-image: url("https://wallpapercave.com/wp/wp7283005.jpg");
}
.bg-img3 {
  height: 500px;
  background-color: #000;
  background-size: cover;
  background-image: url("https://wallpapercave.com/wp/wp10320861.png");
}
